form {
  margin-top: 20px;
}
.images {
  width: 17rem;
}
.images-l {
  width: 12rem;
}
.rl-images {
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.social-signup {
  margin-top: 20px;
}

.google-btn {
  background-color: #fff;
  color: var(--color-primary);
  padding: 10px 20px;

  border: 1px solid #ccc;

  border-radius: 5px;

  cursor: pointer;
}

.google-btn:hover {
  background-color: #f2f2f2;
}

.google-btn svg {
  margin-right: 10px;
}
