.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-icon {
  font-size: 2rem;
  color: #D3F36B;
  font-weight: 900;
  margin-right: 10px;
}

.logo {
  font-size: 1.5rem;
  font-family: fantasy;
  font-weight: 400;
  color: black;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-links {
  display: flex;
  align-items: center;
}

.left-links .navlink {
  color: black !important;
}

.left-links .navlink:hover {
  color: #D3F36B;
}

.login {
  border: 2px solid #D3F36B;
  padding: 10px;
}

.login:hover {
  background-color: #D3F36B !important;
}

.right-links {
  display: flex;
  align-items: center;
}

.left-links li,
.right-links li {
  margin-left: 15px;
}

.right-links li:first-child {
  margin-left: auto; /* Pushes the first right-link to the far right */
}

.icons {
  margin-right: 5px;
  font-size: 20px; /* Adjust icon size */
}

/* Styling for right-links when scrolled */
.navbar.scrolled .right-links .navlink {
  color: black !important;
}

.navbar.scrolled .right-links .navlink:hover {
  color: yellow !important;
}

.navbar.scrolled .login {
  background-color: yellow !important;
  color: black !important;
}
