Global Styles
:root {
  --color-primary: #0ea9f1;
  --font-size-primary: 1rem;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(150deg, #dfdfdf, #9cb3ff); */
  /* color: #00395f; */
  width: 100%;
}



button {
  padding: 5px 10px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Navbar Styles */

/* Form Styles */

.form-group {
  display: flex;
  flex-direction: column;
  margin: 4rem 3rem;
  justify-content: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-inline: auto;
  margin-top: 1rem;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  width: fit-content;
}

button[type="submit"]:hover {
  background-color: #0b70b3;
}

/* Page Specific Styles */
.login-container,
.register-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.login-container,
.register-container,
.create-exam-container,
.upload-exam-container,
.grade-exams-container,
.view-results-container,
.profile-container,
.settings-container,
.Error-container,
.Questions__container,
.Resultes__container,
.Resultes {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 5rem auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  gap: 1rem;
}
.Questions__container {
  width: 90%;
}

.login-container h2,
.register-container h2,
.dashboard-container h2,
.create-exam-container h2,
.upload-exam-container h2,
.grade-exams-container h2,
.view-results-container h2,
.profile-container h2,
.settings-container h2,
.Error-container h2 {
  text-align: center;
}

.dashboard-container nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.dashboard-container nav ul li {
  margin: 1rem 0;
}
small {
  display: flex;
}

.dashboard-container nav ul li a {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: #fff;
}

.dashboard-container nav ul li a:hover {
  background-color: #D3F36B;
}

.create-exam-container .questions-section,
.grade-exams-container .uploaded-exams,
.grade-exams-container .grading-tools,
.grade-exams-container .bubble-sheet-results,
.view-results-container .students-list,
.view-results-container .student-details,
.help-support-container .faqs,
.help-support-container .contact-form,
.help-support-container .user-manuals {
  margin-top: 10px;
}

.uploaded-files h3,
.students-list h3,
.student-details h3,
.user-manuals h3,
.contact-form h3,
.faqs h3 {
  margin-top: 20px;
}

.contact-form textarea {
  resize: vertical;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* src/LandingPage.css */

@media screen and (max-width: 600px) {
  .Grade {
    width: 300px;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }
  .navbar ul li {
    font-size: small;
  }

  .navbar {
    width: 4rem;
    height: 100%;
  }

  .login-container,
  .register-container,
  .create-exam-container,
  .upload-exam-container,
  .grade-exams-container,
  .view-results-container,
  .profile-container,
  .settings-container,
  .Error-container,
  .Questions__container,
  .Resultes__container,
  .Resultes {
    max-width: 400px;
    flex-wrap: wrap;
    margin-left: 4.3rem;
    align-content: center;
  }
  .container {
    margin-left: 4.3rem;
    width: 70%;
  }
  .images {
    width: 12rem;
  }
}

@font-face {
  font-family: 'Signika';
  src: url('../static/Signika-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../static/Signika-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../static/Signika-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../static/Signika-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../static/Signika-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: 'Signika', sans-serif;
}
